.homepage {
  display: flex;
  height: 100vh;
  max-width: 100%;
  margin: 5px;
  /* background-color: rgb(237, 237, 237); */
  /* color: white; */
}

.sidebar-container {
  width: 250px;
  /* background-color: #2c3e50; */
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.main-content {
  margin-left: 250px; 
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  position: fixed;
  /* top: 20px; */
  left: 250px;
  width: calc(100% - 250px);
  /* background-color: white; */
  padding: 15px 20px;
  /* border-bottom: 1px solid #ddd; */
  /* z-index: 1000; */
}

.content-area {
  margin-top: 60px;
  padding: 20px;
  position: relative;
  top: 50px;
}
